---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/ExperienceCard.astro";
---

<Layout title="Experience - Ali Mansoor">
  <main>
    <h2>Employment History</h2>
    <h2>I have gained hands-on experience by working across diverse projects and platforms</h2>
    <p style="max-width: 80ch;">
      I thrive in collaborative, fast-paced environments where I can contribute to building scalable and user-focused applications. I value adaptability, teamwork, and clean architecture — qualities that enable me to deliver impactful mobile and backend solutions.
    </p>

    <Experience
      title="Flutter Developer at Paymo, Lahore"
      description="Contributed across internship, part-time, and full-time roles, leading to promotion as Senior Flutter Developer. Delivered key features like QR scanning and real-time payment tracking. Implemented responsive UI components and scalable architecture, enhancing app usability and performance."
      subtitle="July 2024 – Present"
      image="/images/paymo.jpeg"
    />

    <Experience
      title="Development Consultant at The Essential Studio, Islamabad (Remote)"
      description="Provided software consultation, technical planning, and solution implementation for clients. Collaborated with cross-functional teams to deliver effective product strategies and robust software systems. Gained experience in managing remote development workflows."
      subtitle="September 2023 – Present"
      image="/images/essential_studio.jpeg"
    />

    <Experience
      title="Junior Flutter Developer at GRADE UP (Pvt.) Ltd, Islamabad"
      description="Enhanced mobile app functionality through feature development and performance optimization. Collaborated within a team to improve app versions, user experience, and code quality. Strengthened core skills in Flutter and mobile development."
      subtitle="August 2023 – August 2024"  
    />
  </main>
</Layout>

<style>
  h2 {
    color: var(--color);
  }
  p {
    margin-bottom: 2rem;
    color: var(--color);
  }
</style>
